.team-image {
    max-width: 100px;
    min-width: 100px;
}

.team-image-lg {
    max-width: 200px;
    min-width: 200px;
}

.team-card {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.team-name {
    font-weight: bold;
    font-size: x-large;
    vertical-align:middle
}

.team-record {
    font-weight: bold;
    font-size: large;
    vertical-align:middle
}



.team-details {
   
}

.team-stats {
    display: flex;
    flex-direction: row;
}

.game-loss {
    color: red;
    font-weight: bold;
}

.game-win {
    color: green;
    font-weight: bold;
}

.game-tie {
    color: blue;
    font-weight: bold;
}